<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Objectives</title>
</head>
<p>My Six Main Objectives are:1.Design & Complete robotic and embedded systems that apply to the real-world situations
    and challenges.
    2.Implement a simple microprocessor usig digital logic design.
    3.Demonstrate embededded systems design skills,incuding,but not limited to, microcontroller selection,schemadic design, printed ciruit board layout, desigh for electromagnetic
    compatibility and design for manufacturing.
    4.Apply knowledge of transducers,actuators, and simultaneous hardwear and softwear development in the design of an embedded system.
    5.Desighn and analyze real-time embedded systems inculding advanced digital logic design,signal processing and high-speed digital systems.
    6.Implement and evaluate algorithms and methods enabling autonomy.

</p>

<body>
    <li><a href="{{ url_for('home_page') }}">Home</a></li>
    <li><a href="{{ url_for('Acomplishments') }}">Acomplishments</a></li>
    <li><a href="{{ url_for('Objectives') }}">Objectives</a></li>
    <li><a href="{{ url_for('Portfolio') }}">Portfolio</a></li>
    <li><a href="{{ url_for('SIP') }}">SIP</a></li>
</body>

</html>