<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>SIP</title>
</head>
      
<body>
    <p>This is for my bigest project yet.</p>
    Innavator is a student webpage for students to conect and create new invetions and ideas.This will help students develop comunication skills,
    build up a profolio, and create hard-skills in the filed they are magering in.
    <a href="static\images\Innavator.mp4.">Innavator</a></p>


    <li><a href="{{ url_for('home_page') }}">Home</a></li>
    <li><a href="{{ url_for('Acomplishments') }}">Acomplishments</a></li>
    <li><a href="{{ url_for('Objectives') }}">Objectives</a></li>
    <li><a href="{{ url_for('Portfolio') }}">Portfolio</a></li>
    <li><a href="{{ url_for('SIP') }}">SIP</a></li>
    
</body>
</html>